$text-white:#ecf0f1;
$text-dark: #2c3e50;
$primary-color: #16a085;

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    padding: 20px 0;
    color: $text-dark;
}

nav {
    background: $primary-color;
    ul {
        padding: 15px;
        list-style: none;
        display:  flex;
        li:nth-child(1){
            flex-grow: 10;
        }
        li:nth-child(1){
            flex-grow: 2;
        }
        li {
            text-align:  center;
            margin-right: 15px;
            a {
                font-weight: 500;
                color: $text-white;
                text-decoration: none;
                font-size: 1.4em;
            }
        }
    }
}
.flex-container{
    display: flex;
}

input[type=text], select{
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border: 1px solid #f2f2f2;
    color: $text-dark;
    border-radius: 5px;
}

button {
    background: #2980b9;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    color: $text-white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #3498db;
}