.list {
    display: grid;
    list-style: none;
    .list-item {
        grid-column: 1;
        padding: 12px;
        margin: 2px;
        border: 1px solid #f5f5f5;
        color: #2c3e50;
        span {
            margin-right: 20px;
        }
        a {
            font-weight: 400;
            color: #2c3e50;
            text-decoration: none;
            font-size: 1em;
            cursor: pointer;
        }
    }
}